name: Trigger auto deployment for fastapi-service

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/fastapi-service-AutoDeployTrigger-27a7bf1b-3e95-4c22-8e07-9be192286569.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.FASTAPISERVICE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.FASTAPISERVICE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.FASTAPISERVICE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.FASTAPISERVICE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FASTAPISERVICE_REGISTRY_PASSWORD }}
          containerAppName: fastapi-service
          resourceGroup: AIDefCom
          imageToBuild: minhtqse184278@fpt.edu.vn/fastapi-service:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


